/* GLOBAL */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    width: 100%;
}

/* HEADER SECTION */
#header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    padding: 15px;
    background-color: #3A4B53;
    color: white;
    width: 11%;
}

#logo span {
    text-align: end;
    margin: 3px 9px 0 13px;
    font-size: 20px;
}

#header-nav {
    background-color: #4D636F;
    color: white;
    width: 79%;
    padding: 5px;
}

#nav-icons {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

#icon {
    margin: 16px;
    margin-right: 5%;
    margin-top: 6px;
}
.notification-count {
    position: absolute;
    font-size: 10px;
    background-color: rgb(40, 164, 40);
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
}
#header-profile {
    background-color: #4D636F;
    width: 10%;
}
#header-profile img {
    border-radius: 50%;
    width: 30px;
    margin: 15px 0 0 50px;
}
#header-profile:hover {
    background-color: white;
    cursor: pointer;
}

#logo:hover{
    background-color: white;
    color: black;
    transform: scale(1.1);
    transition: all 0.6s ease;
    cursor: pointer;
}
#icon:hover {
    background-color: white;
    color: black;
    border-radius: 2px;
    transform: scale(1.1);
    transition: all 0.6s ease;
    padding: 8px;
    cursor: pointer;
}