/* GLOBAL */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
}

#content {
    display: flex;
}

#center-menu {
    flex: 4;
    background-color: #F5F7F8;
}

#right-menu {
    flex: 2;
    background-color: #F5F7F8;
}

/* HEADER SECTION */
#header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    padding: 15px;
    background-color: #3A4B53;
    color: white;
    width: 11%;
}

#logo span {
    text-align: end;
    margin: 3px 9px 0 13px;
    font-size: 20px;
}

#header-nav {
    background-color: #4D636F;
    color: white;
    width: 79%;
    padding: 5px;
}

#nav-icons {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

#icon {
    margin: 16px;
    margin-right: 5%;
    margin-top: 6px;
}

.notification-count {
    position: absolute;
    font-size: 10px;
    background-color: rgb(40, 164, 40);
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
}

#header-profile {
    background-color: #4D636F;
    width: 10%;
}

#header-profile img {
    border-radius: 50%;
    width: 30px;
    margin: 20px;
    margin-left: 75px;

}

#header-profile:hover {
    background-color: white;
    cursor: pointer;
}

#logo:hover {
    background-color: white;
    color: black;
    transform: scale(1.1);
    transition: all 0.6s ease;
    cursor: pointer;
}

#icon:hover {
    background-color: white;
    color: black;
    border-radius: 2px;
    transform: scale(1.1);
    transition: all 0.6s ease;
    padding: 8px;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    flex-direction: column;
    padding: 10px 0;
    white-space: nowrap;
}

.dropdown-item:last-child {
    border-bottom: none;
}

.dropdown-item:hover {
    background-color: #CCCCCC;
}

#icon:hover .dropdown-menu {
    display: flex;
}

#item {
    padding: 10px;
    margin: 2px;
}

/* LEFT MENU */
/* PROFILE-CARD SECTION */
#left-menu {
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex: 2.4;
    background-color: #F5F7F8;
}

#profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 15px;
    margin: 0 auto;
    border-radius: 8px;
    background-color: #f1f1f1;
    box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.1),
        0 -4px 6px rgba(0, 0, 0, 0.1),
        4px 0 6px rgba(0, 0, 0, 0.1),
        -4px 0 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 400px;
    text-align: center;
    margin-bottom: 20px;
}

#profile-card img {
    width: 30%;
    border-radius: 50%;
    margin-bottom: 10px;
}

#profile-card hr {
    width: 300px;
    margin-bottom: 30px;
    margin-top: 30px;
}

#profile-card h3 {
    margin-bottom: 30px;
    width: 100%;
    font-weight: lighter;
    letter-spacing: 1px;
}

#profile-card ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
    width: 95%;
}

#profile-card li {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#profile-card li i {
    margin-right: 30px;
}

/* PROFILE OPTIONS SECTION */
#profile-opt {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    width: 400px;
    height: auto;
    margin: 0 auto;
    background-color: #f1f1f1;
    margin-bottom: 30px;
}

.toggle-button {
    display: block;
    width: auto;
    margin: auto;
    padding: 10px;
    background-color: #7D97A5;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 17px;
    text-align: start;
}

.toggle-button:hover {
    background-color: #CCCCCC;
    color: black;
}

.toggle-button i {
    margin-right: 30px;
}

.hidden-content {
    display: none;
    background-color: #f1f1f1;
    padding: 10px;
    text-align: left;
    font-size: 17px;
    margin: 5px;
}

.hidden-content img {
    width: 30%;
    height: auto;
    margin: 0;
    padding: 0;
}

input[type="radio"]:checked+.toggle-button+.hidden-content {
    display: block;
}

input[type="radio"] {
    display: none;
}

/* PROFILE HOBBY SECTION */
#profile-hobby {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    width: 400px;
    height: auto;
    margin: 0 auto;
    background-color: #f1f1f1;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    background-color: #f1f1f1;
    box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.1),
        0 -4px 6px rgba(0, 0, 0, 0.1),
        4px 0 6px rgba(0, 0, 0, 0.1),
        -4px 0 6px rgba(0, 0, 0, 0.1);
}

.interest-item {
    background-color: #ddd;
    margin: 10px;
    margin-bottom: 15px;
    padding: 4px;
    border-radius: 2px;
    min-width: auto;
    cursor: col-resize;
}

#profile-hobby h3 {
    width: 100%;
    font-size: 20px;
    text-align: start;
    margin-left: 15px;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-bottom: 15px;
    margin-top: 15px;
}

#color-1 {
    background-color: #303E45;
    color: white;
}

#color-2 {
    background-color: #57707D;
    color: white;
}

#color-3 {
    background-color: #9EB1BB;
    color: black;
}

/* PROFILE NOTIFICATION SECTION */
#profile-notification {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    width: 400px;
    height: 120px;
    margin: 0 auto;
    background-color: #f1f1f1;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    background-color: #DFE5E8;
}

#message {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin: 20px;
}

#message h3 {
    margin-bottom: 20px;
}

#close {
    margin-right: 13px;
    margin-top: -10px;
}

.close-button {
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
    font-size: 30px;
    background-color: #BECBD2;
    width: 100%;
    margin: 12px;
}

.close-button:hover {
    color: #f00;
    background-color: #CCCCCC;
}

/* CENTER MENU */
/* POST FORM SECTION */
#post-form {
    width: 100%;
    width: auto;
    height: auto;
    margin: 20px;
    background-color: #FFF;
    padding: 17px;
    border-radius: 4px;
    box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.1),
        0 -4px 6px rgba(0, 0, 0, 0.1),
        4px 0 6px rgba(0, 0, 0, 0.1),
        -4px 0 6px rgba(0, 0, 0, 0.1);
}

#post-form p {
    opacity: 0.5;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn {
    background-color: #607D8B;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #CCCCCC;
    color: black;
}

/* PHOTO POST SECTION */
#photo-post {
    width: 100%;
    width: auto;
    height: auto;
    margin: 20px;
    background-color: #FFF;
    padding: 17px;
    border-radius: 4px;
    box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.1),
        0 -4px 6px rgba(0, 0, 0, 0.1),
        4px 0 6px rgba(0, 0, 0, 0.1),
        -4px 0 6px rgba(0, 0, 0, 0.1);
}

#photo-post hr {
    width: 100%;
}

#top {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

#top img {
    width: 10%;
    height: 70px;
    border-radius: 50%;
}

#top h2 {
    margin-left: 20px;
    margin-top: 20px;
    font-weight: 200;
}

#top h3 {
    margin-left: 50%;
    opacity: 0.5;
}

#images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

#images img {
    width: 49%;
    border-radius: 5px;
}

/* TEXT POST SECTION */
#text-post {
    width: 100%;
    width: auto;
    height: auto;
    margin: 20px;
    background-color: #FFF;
    padding: 17px;
    border-radius: 4px;
    box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.1),
        0 -4px 6px rgba(0, 0, 0, 0.1),
        4px 0 6px rgba(0, 0, 0, 0.1),
        -4px 0 6px rgba(0, 0, 0, 0.1);
}
/* PHOTO POST - 2 SECTION */
#nature{
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10%;
}
/* RIGHT MENU */
/* INFO-CARD SECTION */
#info-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    width: auto;
    height: auto;
    margin: 20px;
    margin-right: 15%;
    background-color: #FFF;
    padding: 17px;
    border-radius: 4px;
    box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.1),
        0 -4px 6px rgba(0, 0, 0, 0.1),
        4px 0 6px rgba(0, 0, 0, 0.1),
        -4px 0 6px rgba(0, 0, 0, 0.1);
}
#info-card img{
    width: 95%;
    border-radius: 4px;
    margin-bottom: 5%;
}
#info-card p{
    font-size: 22px;
    margin-bottom: 5%;
}
#info-card h2{
    margin-bottom: 5%;
}
#btn-info{
    width: 95%;
    background-color: #DFE5E8;
    color: black;
    border-radius: 2px;
}
#btn-info:hover{
    background-color: #CCCCCC;
}
/* REQUEST-CARD SECTION */
#request-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    width: auto;
    height: auto;
    margin: 20px;
    margin-right: 15%;
    background-color: #FFF;
    padding: 17px;
    border-radius: 4px;
    box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.1),
        0 -4px 6px rgba(0, 0, 0, 0.1),
        4px 0 6px rgba(0, 0, 0, 0.1),
        -4px 0 6px rgba(0, 0, 0, 0.1);
}

#btn-request {
    display: flex;
    flex-direction: row;
}

#request-img {
    width: 40%;
    border-radius: 6px;
    margin-bottom: 5%;
}

#agree {
    background-color: #94CF96;
    width: 120px;
    border-radius: 2px;
}

#agree:hover {
    background-color: #E0E0E0;
}

#xmark {
    background-color: #F88E86ed;
    width: 120px;
    border-radius: 2px;

}

#xmark:hover {
    background-color: #E0E0E0;
}

#request-card p {
    margin-bottom: 5%;
    font-size: 20px;
}

#request-card h2 {
    font-weight: 300;
    margin-bottom: 5%;
}